@media screen {
  body {
    line-height: 1.5em;
    background-color: var(--backgroundBody);
    color: var(--colorFont);
  }

  main {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Header */
  header {
    margin: 0;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  header img {
    max-width: 55%;
    border-radius: 50%;
  }

  .logoGoT {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -5%;
  }

  .stark {
    display: none;
    max-width: initial;
  }

  .targaryen {
    display: none;
    border-radius: initial;
    max-width: initial;
  }

  header #fName {
    display: none;
  }

  header #lName {
    display: none;
  }

  header #name {
    margin: 0;
    position: absolute;
    top: 98%;
    font-size: 8vw;
    font-family: var(--titleFont);
    animation: fadeIn 5s;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  #about h2 {
    margin-bottom: 2vw;
    font-size: 5.5vw;
    font-family: var(--titleFont);
    margin-top: 5%;
  }

  #about p {
    margin: 0;
    font-size: 3.5vw;
    font-family: var(--mainFont);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /* Social media*/
  .logoReseaux {

    display: flex;
    flex-direction: column;
    width: 32px;
  }

  .twitter {
    max-width: initial;
  }

  .linkedin {
    border-radius: initial;
    max-width: initial;
  }

  /*# sourceMappingURL=styleMobile.css.map */


  /* animation article */
  .info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info .block {
    border: solid 0.5px var(--border);
    border-radius: 5px;
    background-color: var(--backgroundBox);
    margin: 2vw;
    padding: 0 10px;
  }

  .info .title-article {
    position: relative;
    cursor: pointer;
    font-size: 4vw;
    font-family: var(--titleFont);
  }

  .info .title-article::before {
    content: '+';
    color: var(--colorFont);
    position: absolute;
    top: 50%;
    right: 5vw;
    font-size: 30px;
    transform: translateY(-50%);
  }

  .info .block:hover {
    transform: scale(1.05);
  }

  .info .text {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 3vw;
    font-family: var(--mainFont);
  }

  /* Modifier height en fonction de la taille du contenu ! */
  .info .block.active .text {
    height: 150px;
  }

  .info .block.active .title-article::before {
    content: '-';
  }
}