@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root{
      --backgroundBody :  #BFF7FF;
      --backgroundBox : #3088AE;
      --shadow : #002C3A;
      --border: #002C3A;
      --colorFont: #002C3A;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    line-height: 1.5em;
    background-color: var(--backgroundBody);
    color: var(--colorFont);
}
#suite1
{
    margin:0;
    display:none;
}
#suite2
{
    margin:0;
    display:none;
}
#suite3
{
    margin:0;
    display:none;
}
#suite4
{
    margin:0;
    display:none;
}
p{
    text-align: center;
    font-style: italic;
}
header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
header img{
    width: 75%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px var(--shadow);
}
a{
    text-decoration: none;
    color: var(--colorFont);
}
main{
    display: flex;
    flex-direction: column;
}
article{
    border: solid 1px var(--border);
    box-shadow: 5px 5px 5px var(--shadow);
    border-radius: 5px;
    background-color: var(--backgroundBox);
    margin: 20px;
    padding: 0 5px;
    transition: transform 0.5s;
}
article:hover{
    transform: scale(1.1);
}