@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

:root {
    --backgroundBody: #020B10;
    --backgroundBox: #181733;
    --shadow: #E6E0E6;
    --border: #080B35;
    --colorFont: #E6E0E6;
}

.light-mode {

    --backgroundBody: #BFF7FF;
    --backgroundBox: #3088AE;
    --shadow: #002C3A;
    --border: #002C3A;
    --colorFont: #002C3A;
}

/* BUTTONS */

#button-off {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.drop-down-menu {
    border: 1px solid black;
    padding: 3px;
    border-radius: 25px 25px 25px 25px;
}

.drop-down-menu:hover {
    background-color: grey;
}

.button {
    cursor: pointer;
}

.lang {
    font-size: 0.7rem;
}

#lang-selection {
    align-self: end;
    font-size: 0.7rem;
}


