@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@400;500&family=Patua+One&display=swap");
/*Game of thrones font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Patua+One&display=swap");

/*Monserrat font*/
:root {
  --backgroundBody: #BFF7FF;
  --backgroundBox: #3088AE;
  --shadow: #002C3A;
  --border: #002C3A;
  --colorFont: #002C3A;
  --titleFont: Cinzel, serif;
  --mainFont: Montserrat, serif;
}

@media screen {
  body {
    line-height: 1.5em;
    background-color: var(--backgroundBody);
    color: var(--colorFont);
  }

  main {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    margin: 0;
    margin-top: 2%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  header img {
    max-width: 55%;
    border-radius: 50%;
  }
  header #fName {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 28%;
    font-size: 8vw;
    font-family: var(--titleFont);
    -webkit-animation: fadeIn 5s;
            animation: fadeIn 5s;
  }
  header #lName {
    margin: 0;
    position: absolute;
    top: 85%;
    right: 25%;
    font-size: 8vw;
    font-family: var(--titleFont);
    -webkit-animation: fadeIn 5s;
            animation: fadeIn 5s;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }

  #about h2 {
    align-items: center;
    margin: 0;
    margin-bottom: 2vw;
    font-size: 5.5vw;
    font-family: var(--titleFont);
  }

  #about p {
    margin: 0;
    font-size: 3.5vw;
    font-family: var(--mainFont);
  }

  .info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info a {
    text-decoration: none;
    color: var(--colorFont);
  }

  .info article {
    border: solid 0px var(--border);
    border-radius: 5px;
    background-color: var(--backgroundBox);
    margin: 2vw;
    padding: 0 5px;
    transition: transform 0.5s;
  }

  .info article h2 {
    font-size: 4vw;
    font-family: var(--titleFont);
  }

  .info article p {
    font-size: 2.5vw;
    font-family: var(--mainFont);
  }

  .info article:hover {
    transform: scale(1.04);
  }

  .info #suite1 {
    margin: 0;
    display: none;
  }

  .info #suite2 {
    margin: 0;
    display: none;
  }

  .info #suite3 {
    margin: 0;
    display: none;
  }

  .info #suite4 {
    margin: 0;
    display: none;
  }

}

/*# sourceMappingURL=styleMobile.css.map */



}/*# sourceMappingURL=styleMobile.css.map */

/* BUTTONS */


}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BUTTONS */


#button-off {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;

}

.drop-down-menu {
  border: 1px solid black;
  padding: 3px;
  border-radius: 25px 25px 25px 25px;
}

.drop-down-menu:hover {
  background-color: grey;
}

.lang {
  font-size: 0.7rem;


  text-decoration: none;


}

#lang-selection {


  display: none;
  align-self: end;
  font-size: 0.7rem;
}


  