@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@400;500&family=Patua+One&display=swap");
/*Game of thrones font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Patua+One&display=swap");
/*Monserrat font*/

:root {
  --backgroundBody: #e5fdff;
  --backgroundBox: #3088AE;
  --shadow: #002C3A;
  --border: #002C3A;
  --colorFont: #002C3A;
  --titleFont: Cinzel, serif;
  --mainFont: Montserrat, serif;
}

@media screen {
  body {
    line-height: 1.5em;
    background-color: var(--backgroundBody);
    color: var(--colorFont);
  }

  main {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/*-----------------------------------header section-------------------------------------------------------------------------*/
  header {
    margin: 0;
    margin-top: 0%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  header img {
    max-width: 25%;
    border-radius: 50%;
  }

  header #fName {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 7vw;
    font-family: var(--titleFont);
    animation: fadeIn 5s;
  }

  header #lName {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 7vw;
    font-family: var(--titleFont);
    animation: fadeIn 5s;
  }
/*-----------------------------------House logos section-------------------------------------------------------------------------*/
  .logoGoT {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    top: 40vh;
  }

  .stark {
    max-width: initial;
  }


  .targaryen {

    border-radius: initial;
    max-width: initial;
  }

  .stark1 {
    display: none;
  }


  .targaryen1 {
    display: none;

  }
/*-----------------------------------about section-------------------------------------------------------------------------*/
  #about {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-bottom: 5%;
  }

  #about h2 {
    align-items: center;
    margin: 0;
    margin-bottom: 4vh;
    font-size: 3vw;
    font-family: var(--titleFont);
  }

  #about p {
    margin: 0;
    font-size: 1.5vw;
    font-family: var(--mainFont);
    text-align: center;
  }


/*-----------------------------------info section-------------------------------------------------------------------------------*/
.info {
  margin: 4.5vw;
  left: 0%;
  position: relative;
  overflow: hidden;
  width: 87vw;
  height: 65vh;
}
/*-----------------------------------experience section-------------------------------------------------------------------------*/
.collapsible{
  z-index: 1;
}

.collapsible input{
  margin: 0;
  display: none;
}

.collapsible label{
  position: absolute;
  width: 40vw;
  height: 6vh;
  top: 0%;
  left: 0%;
  font-size: 2vw;
  font-family: var(--titleFont);
  background: var(--backgroundBox);
  color: var(--colorFont);
  display: block;
  cursor: pointer;
  padding-left: 2vw;
  padding-top: 3vh;
  border-radius: 10px;
  transition: 0.3s ease-out;
  z-index: 2;
}

#collapsible_text {
  position: absolute;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  top: 0%;
  left: 0%;
  width: 42vw;
  height: 26vh;
  overflow:hidden;
  border-radius: 10px;
  background: var(--backgroundBox);
  transition: 0.3s ease-out;
  opacity: 1;
  z-index: 1;
}

.collapsible input:checked ~ #collapsible_text{
  height: 65vh;
  width: 87vw;
  overflow:auto;
}

#collapsible_text p {
  margin: 0;
  padding-top: 9%;
  padding-left: 5%;
  font-size: 1vw;
  font-family: var(--mainFont);
  color: var(--colorFont);
  opacity: 1;
  z-index: 1;
  overflow: auto;
}


.collapsible input:checked ~ #collapsible_text p{
  padding-top: 4.5%;
  padding-left: 2.5%;
  overflow:auto;
}


/*-----------------------------------education section-------------------------------------------------------------------------*/
.collapsibleEdu input{
  margin: 0;
  display: none;
}

.collapsibleEdu label{
  position: absolute;
  width: 40vw;
  height: 6vh;
  top: 0%;
  left: 52%;
  font-size: 2vw;
  font-family: var(--titleFont);
  background: var(--backgroundBox);
  color: var(--colorFont);
  display: block;
  cursor: pointer;
  padding-left: 2vw;
  padding-top: 3vh;
  border-radius: 10px;
  transition: 0.3s ease-out;
  z-index: 2;
}

#collapsible_textEdu {
  position: absolute;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  top: 0%;
  right: 0%;
  width: 42vw;
  height: 26vh;
  overflow:hidden;
  border-radius: 10px;
  background: var(--backgroundBox);
  transition: 0.3s ease-out;
  opacity: 1;
  z-index: 1;
}

.collapsibleEdu input:checked ~ #collapsible_textEdu{
  height: 65vh;
  width: 87vw;
  overflow:auto;
  z-index: 1;
}

#collapsible_textEdu p {
  margin: 0;
  padding-top: 9%;
  padding-left: 5%;
  font-size: 1vw;
  font-family: var(--mainFont);
  color: var(--colorFont);
  opacity: 1;
  z-index: 1;
  overflow: auto;
}

.collapsibleEdu input:checked ~ #collapsible_textEdu p{
  padding-top: 4.5%;
  padding-left: 2.5%;
  overflow:auto;
}
/*-----------------------------------Skills section-------------------------------------------------------------------------*/
.collapsibleSkl input{
  margin: 0;
  display: none;
}

.collapsibleSkl label{
  position: absolute;
  width: 40vw;
  height: 6vh;
  top: 60%;
  left: 0%;
  font-size: 2vw;
  font-family: var(--titleFont);
  background: var(--backgroundBox);
  color: var(--colorFont);
  display: block;
  cursor: pointer;
  padding-left: 2vw;
  padding-top: 3vh;
  border-radius: 10px;
  transition: 0.3s ease-out;
  z-index: 2;
}

#collapsible_textSkl {
  position: absolute;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  bottom: 0%;
  left: 0%;
  width: 42vw;
  height: 26vh;
  overflow:hidden;
  border-radius: 10px;
  background: var(--backgroundBox);
  transition: 0.3s ease-out;
  opacity: 1;
  z-index: 1;
}

.collapsibleSkl input:checked ~ #collapsible_textSkl{
  height: 65vh;
  width: 90vw;
  overflow:auto;
  z-index: 1;
}

#collapsible_textSkl p {
  margin: 0;
  padding-top: 9%;
  padding-left: 5%;
  font-size: 1vw;
  font-family: var(--mainFont);
  color: var(--colorFont);
  opacity: 1;
  z-index: 1;
  overflow: auto;
}

.collapsibleSkl input:checked ~ #collapsible_textSkl p{
  padding-top: 4.5%;
  padding-left: 2.5%;
  overflow:auto;
}

/*-----------------------------------Contact section-------------------------------------------------------------------------*/

.contact {
  position: absolute;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  bottom: 0%;
  right: 0%;
  width: 42vw;
  height: 26vh;
  overflow:hidden;
  border-radius: 10px;
  background: var(--backgroundBox);
  transition: 0.3s ease-out;
  z-index: 0;
}

.contact label{
  top: 60%;
  left: 0%;
  font-size: 2vw;
  font-family: var(--titleFont);
  color: var(--colorFont);
  padding-left: 2vw;
  padding-top: 3vh;
  z-index: 1;
}

.contact .contactDetails {
  margin: 0;
  padding-top: 0%;
  padding-left: 5%;
  font-size: 1vw;
  font-family: var(--mainFont);
  color: var(--colorFont);
  opacity: 1;
  z-index: 1;

}

/*-----------------------------------Fname & Lname animation-------------------------------------------------------------------------*/


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}

/*-----------------------------------Dark/Light Mode & Language section--------------------------------------------------------------*/



/* BUTTONS */ 

  


.buttons {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-family: var(--titleFont);

}

#language {
  background-color: var(--backgroundBox);
  color: var(--colorFont);


}

input[type=submit] {
  background-color: var(--backgroundBox);
  color: var(--colorFont);
  border: 1px solid var(--colorFont);

}

/*-----------------------------------social media section-------------------------------------------------------------------------*/



.logoReseaux {

  display: flex;
  flex-direction: column;
  width: 32px;
}

.twitter {
  max-width: initial;
}

.linkedin {
  border-radius: initial;
  max-width: initial;
}

